<div class="panel panel-default">
  <div class="panel-heading">Registro de Circuitos</div>
  <div class="panel-body">
    <form class="form-group">
      <div class="form-group">
        <input [(ngModel)]="circuit.code" type="text" class="form-control" placeholder="{{ 'CODE' | translate }}"
          autocomplete="off" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <input [(ngModel)]="circuit.name" type="text" class="form-control" placeholder="{{ 'NAME' | translate }}"
          autocomplete="off" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <select class="form-control" [(ngModel)]="circuit.substation.id" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let substation of substations" [value]="substation.id">{{ substation.name }}</option>
        </select>
      </div>

      <button [disabled]="(!circuit.code || !circuit.name || !circuit.substation.id)" type="button" class="btn btn-success col-xs-12"
        (click)="saveCircuit()">
        <span *ngIf="!circuit.id">{{ 'REGISTER' | translate }}</span>
        <span *ngIf="circuit.id">{{ 'UPDATE' | translate }}</span>
      </button>
    </form>
  </div>
</div>
