<div class="panel panel-default">
  <div class="panel-heading">Registro de Subestación</div>
  <div class="panel-body">
    <form class="form-inline">
      <div class="form-group">
        <input [(ngModel)]="code" type="text" class="form-control" placeholder="Código..."
          autocomplete="off"s [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <input [(ngModel)]="name" type="text" class="form-control"
          placeholder="Nombre..." maxlength="7" autocomplete="off" [ngModelOptions]="{standalone: true}">
      </div>
      <button [disabled]="(!code || !name)" type="button" class="btn btn-success"
        (click)="registerSubstation()">Registrar</button>
    </form>
  </div>
</div>
