<div class="panel panel-default">
  <div class="panel-heading">Registro de Subestación</div>
  <div class="panel-body">
    <form class="form-group">
      <div class="form-group">
        <input [(ngModel)]="substation.code" type="text" class="form-control" placeholder="{{ 'CODE' | translate }}"
          autocomplete="off" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <input [(ngModel)]="substation.name" type="text" class="form-control" placeholder="{{ 'NAME' | translate }}"
          autocomplete="off" [ngModelOptions]="{standalone: true}">
      </div>
      <button [disabled]="(!substation.code || !substation.name)" type="button" class="btn btn-success col-xs-12"
        (click)="saveSubstation()">
        <span *ngIf="!substation.id">{{ 'REGISTER' | translate }}</span>
        <span *ngIf="substation.id">{{ 'UPDATE' | translate }}</span>
      </button>
    </form>
  </div>
</div>
