  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb [title]="'Proyectos'" [isChild]="true"></app-breadcrumb>

    <!-- Main content -->
    <section class="content">

      <!-- TABLE: Registered projects -->
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Proyectos registrados</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><em class="fa fa-minus"></em>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><em class="fa fa-times"></em></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="table-responsive">
            <table class="table no-margin">
              <thead>
                <tr>
                  <th class="text-center" [translate]="'EDIT'"></th>
                  <!-- <th class="text-center" [translate]="'STATUS'"></th> -->
                  <th class="text-center" [translate]="'CODE'"></th>
                  <th class="text-center" [translate]="'CITY'"></th>
                  <th class="text-center" [translate]="'ADDRESS'"></th>
                  <th class="text-center" [translate]="'ELECTRICAL_VOLTAGE_LEVEL'"></th>
                  <th class="text-center" [translate]="'TYPE_NETWORK'"></th>
                  <th class="text-center" [translate]="'CIRCUIT'"></th>
                  <th class="text-center" [translate]="'SUBSTATION'"></th>
                  <th class="text-center" [translate]="'DELETE'"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of projects">
                  <td class="text-center"><span class="label label-info cursor-pointer"
                      (click)="update(project)">{{ 'EDIT' | translate }}</span>
                  </td>
                  <!-- <td class="text-center">{{ project.status }}</td> -->
                  <td class="text-center">{{ project.code }}</td>
                  <td class="text-center">{{ project.city.name }}</td>
                  <td class="text-center">
                    <strong
                      *ngIf="project.typeTown.id === TYPES_TOWNS.TYPE_TOWN_NEIGHBORHOOD">{{ 'NEIGHBORHOOD' | translate }}:</strong>
                    <strong
                      *ngIf="project.typeTown.id === TYPES_TOWNS.TYPE_TOWN_VILLAGE">{{ 'VILLAGE' | translate }}:</strong>
                    {{ project.address }}
                  </td>
                  <td class="text-center">{{ project.electricalVoltageLevel }}</td>
                  <td class="text-center">{{ project.typeNetwork.name }}</td>
                  <td class="text-center">{{ project.circuit.name }}</td>
                  <td class="text-center">{{ project.circuit.substation.name }}</td>
                  <td class="text-center"><span class="label label-danger cursor-pointer"
                      (click)="delete(project.id)" *ngIf="user.role.id === ROLES.ROLE_INSPECTOR">{{ 'DELETE' | translate }}</span>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <button class="btn btn-sm btn-success btn-flat pull-left" (click)="add()">Agregar Proyecto</button>
        </div>
        <!-- /.box-footer -->
      </div>
      <!-- /.box -->

    </section>
  </div>
