<div class="panel panel-default">
  <div class="panel-heading">Registro de usuario</div>
  <div class="panel-body">
    <form class="form-group">
      <div class="form-group">
        <input [(ngModel)]="user.name" type="text" class="form-control" placeholder="{{ 'NAME' | translate }}"
          autocomplete="off" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <input [(ngModel)]="user.lastName" type="text" class="form-control" placeholder="{{ 'LAST_NAME' | translate }}"
          autocomplete="off" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <input [(ngModel)]="user.username" type="text" class="form-control" placeholder="{{ 'USERNAME' | translate }}"
          autocomplete="off" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <input [(ngModel)]="user.email" type="text" class="form-control" placeholder="{{ 'EMAIL' | translate }}"
          autocomplete="off" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group" *ngIf="!user.id">
        <input [(ngModel)]="password" type="password" class="form-control" placeholder="{{ 'PASSWORD' | translate }}"
          autocomplete="off" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label [translate]="'ROLE'"></label>
        <select class="form-control" [(ngModel)]="user.role.id" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label [translate]="'ENTERPRISE'"></label>
        <select class="form-control" [(ngModel)]="user.enterprise.id" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let enterprise of enterprises" [value]="enterprise.id">{{ enterprise.name }}</option>
        </select>
      </div>

      <button [disabled]="(!user.lastName || !user.name)" type="button" class="btn btn-success col-xs-12"
        (click)="saveUser()">
        <span *ngIf="!user.id">{{ 'REGISTER' | translate }}</span>
        <span *ngIf="user.id">{{ 'UPDATE' | translate }}</span>
      </button>
    </form>
  </div>
</div>
